<!DOCTYPE html>
<html>
{{template "HtmlHead"}}
<body>
	{{template "Navigation"}}
	
	<h1>Plattentests.de 💿 <br>Highlights of the week </h1>

	<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/{{ .PlaylistID }}?utm_source=generator&theme=0" width="100%" height="600" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

	{{template "RecordTable" .Records}}
	
	<h3>Not Found</h3>

	<ul>
		{{range .NotFound}}
		<li>{{.}}</li>
		{{end}}
	</ul>


	{{template "Footer"}}

	{{template "FormatTableScript"}}
</body>
</html>
