<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Highlights of the week</title>
</head>
<body>
	<h1>Plattentests.de Highlights of the week 💿</h1>
	{{template "navigation"}}
	
	<table>
		<thead>
			<tr>
        <th>Image</th>
				<th>Band</th>
				<th>Record Name</th>
				<th>Score</th>
				<th>Release Year</th>
				<th>Tracks</th>
			</tr>
		</thead>
		<tbody>
			{{range .}}
				{{template "Record" .}}
			{{end}}
		</tbody>
	</table>
</body>
</html>
