<!DOCTYPE html>
<html>
{{template "HtmlHead"}}
<body>
	{{template "Navigation"}}
	
	<h1>Plattentests.de 💿 <br>Highlights of the week </h1>

	<p>	Sort by <a href="?sort=title">title</a> | <a href="?sort=score">score</a></p>

	{{template "RecordTable" .}}

	{{template "Footer"}}


{{template "FormatTableScript"}}
</body>
</html>
