<!DOCTYPE html>
<html>
{{template "HtmlHead"}}
<body>
	<h1>Plattentests.de 💿 <br>Highlights of the week </h1>
	{{template "Navigation"}}
	
	<table>
		<thead>
				{{template "RecordHeader"}}
		</thead>
		<tbody>
			{{range .}}
				{{template "Record" .}}
			{{end}}
		</tbody>
	</table>

	{{template "Footer"}}


{{template "FormatTableScript"}}
</body>
</html>
