{{define "HtmlHead"}}
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
	<title>Plattentests.de 💿 - Highlights of the week</title>
</head>
{{end}}

{{define "Navigation"}}
	<header>
		<nav>
			<a href="/">Records of the week</a>
			<a href="/createPlaylist">Create Spotify playlist</a>
		</nav>
	</header>
{{end}}

{{define "RecordHeader"}}
			<tr>
        <th>Image</th>
				<th>Band</th>
				<th>Record Name</th>
				<th>Score</th>
				<th>Tracks</th>
			</tr>
{{end}}

{{define "Record"}}
			<tr>
        <td><img src="{{.Image}}" alt="{{.Band}}"></td>
				<td>{{.Band}}<br><a href="{{.Link}}">go to review</a></td>
				<td>{{.Recordname}}</td>
				<td><strong>{{.Score}}</strong></td>
				<td>
					<ul>
						{{range .Tracks}}
						<li>{{.}}</li>
						{{end}}
					</ul>
				</td>
			</tr>
{{end}}

{{define "Footer"}}
	<footer>
		<p>Created with ❤️ by <a href="https://github.com/jetzlstorfer">jetzlstorfer</a><br>Source on <a href="https://github.com/jetzlstorfer/plattentests-go">GitHub</a>. Content crawled from <a href="https://plattentests.de">Plattentests.de</a>.</p>
	</footer>
{{end}}